<%- include("templates/header") %>
<ul class="nav justify-content-center">

  <% for(let i = 0; i < buttons.length; i++) { %>
    <li class="nav-item">

      <a href="/<%= buttons[i] %>" class="nav-link active"><%= buttons[i] %></a>
    </li>
    <% } %>
    
</ul>

<%- include("templates/footer") %>