<%- include("templates/header") %>
  <h1> Exclusive Members Only Area!</h1>
  <h2>Hello <i><%= name %></i></h2>
  <div id="imageContainer">
    <img src="/images/hyrax1.jpg">
    <img src="/images/hyrax2.jpg">
    <img src="/images/hyrax3.jpg">
  </div>

  <a href="/signout">Signout</a>

<%- include("templates/footer") %>